.btn-again {
  background-color: antiquewhite;
}
.management {
  background-color: antiquewhite;
}
.deleteMember {
  width: 50px;
  height: 25px;
  margin: 5px;
}
.deleteMember:hover {
  background-color: aquamarine;
}
