.btn-again {
  background-color: antiquewhite;
}
.management {
  background-color: rgb(201, 127, 30);
}
.deleteMember {
  width: 50px;
  height: 25px;
  margin: 5px;
  font-weight: bold;
}
.deleteMember:hover {
  background-color: rgb(206, 33, 33);
}
